* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

/* ↑ Líneas esenciales ↑ */

/* ↓ Header ↓ */
header {
    background-color: aquamarine;
    height: 100px;
    border-bottom: 3px solid black;
    background-image: url("imágenes/fondoBarra.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

main {
    position: relative;
    overflow: hidden;
    transition: background 1s ease;
    flex-grow: 1;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgb(215, 180, 255) 15%, rgb(181, 253, 241), rgb(222, 255, 214), rgb(252, 182, 182) 85%);
    transition: opacity 1s ease;
    opacity: 1;
    z-index: -1; /* Agrega esta línea */
}

main:hover::before {
    opacity: 0;
}

main:hover {
    background: mediumpurple;
}

.tarjetas {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 200px;
    z-index: 1; /* Agrega esta línea */
}

.tarjeta-acceso {
    width: 100%;
}

.contenerdor-tarjeta {
    max-width: 320px;
}

footer {
    height: 170px;
    border-top: 3px solid black;

    background-image: url("imágenes/fondoBarra.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    font-size: 40px;
      
}

.texto-footer{
    padding: 50px;
}

/* ↓ Media Queries ↓ */
@media screen and (max-width: 768px) {
   
    main {
        background: linear-gradient(150deg,  rgb(214, 139, 105) 15%, rgb(68, 54, 54) 85%);
        height: 100%;
    }

    body{
        overflow: scroll;
    }

    .texto.navegacion{
        padding-top: 25px;
        margin-right: 10px;
        font-size: 20px;
        transition-property: font-size;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }    

    .tarjetas {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    main {
        background: linear-gradient(#87CEEB 25%, #1E90FF, #87CEEB 80%);
        height: 100%; /* Agrega esta línea */
    }
    footer{
        background-size: 100% 100%;
        overflow: hidden;
    }

}

@media screen and (max-width: 380px) {
    .texto.navegacion{
        font-size: 15px;
        padding-top: 20px;
        transition-property: padding-top;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        text-align: c;
    }    
}
