* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

footer {
    margin-top: auto;
}

/* ↑ Líneas esenciales ↑ */

/* ↓ Header ↓ */
header {
    background-color: aquamarine;
    height: 100px;
    border-bottom: 3px solid black;
    background-image: url("imágenes/fondoBarra.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.barra.navegacion{
    height: 100px;
    display: flex;
}

.texto.navegacion{
    padding-top: 25px;
    margin-right: 10px;
}

.imagen{
    width: 100px;
    padding: 5px 10px 10px 10px;
}

.boton{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.boton:hover{
    background-color: mediumaquamarine;
}


/* ↓ Main ↓*/
main {
    background: linear-gradient(150deg,  rgb(214, 139, 105) 15%, rgb(68, 54, 54) 85%);
    height: calc(100vh - (170px + 100px));
}

.tarjetas {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 200px;

}

.tarjeta-acceso {
    width: 100%;
}

.tarjeta-acceso:hover{
    width: 699px;
    margin-top: 0px;
}

.contenerdor-tarjeta {
    max-width: 320px;
}

/* ↓ Footer ↓ */


footer {
    height: 170px;
    border-top: 3px solid black;

    background-image: url("imágenes/fondoBarra.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    font-size: 40px;
      
}

.texto-footer{
    padding: 50px;
}

/* ↓ Media Queries ↓ */
@media screen and (max-width: 768px) {
   
    main {
        background: linear-gradient(150deg,  rgb(214, 139, 105) 15%, rgb(68, 54, 54) 85%);
        height: 100%;
    }

    body{
        overflow: scroll;
    }

    .texto.navegacion{
        padding-top: 25px;
        margin-right: 10px;
        font-size: 20px;
        transition-property: font-size;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }    

    .tarjetas {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    footer{
        background-size: 100% 100%;
        overflow: hidden;
    }

}

@media screen and (max-width: 380px) {
    .texto.navegacion{
        font-size: 15px;
        padding-top: 20px;
        transition-property: padding-top;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        text-align: c;
    }    
}
