* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

/* ↑ Líneas esenciales ↑ */

/* ↓ Header ↓ */
header {
  height: 100px;
  border-bottom: 3px solid black;
  background-image: url("../imágenes/fondoBarra.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100px;
}


.barra.navegacion {
  height: 100px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto.navegacion {
  text-shadow: 2px 2px 2px white;
  text-align: center;
}

/* ↓ Main ↓*/
main {
  background: linear-gradient(150deg, rgb(214, 139, 105) 15%, rgb(68, 54, 54) 85%);
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}


.tarjeta-acceso {
  width: 100%;
}

.contenerdor-tarjeta {
  max-width: 320px;
}

.alumnos{
  color: white;
  text-shadow: 0 0 10px  black;
}

.incidencia{
  color: white;
  text-shadow: 0 0 10px  black;
}

.estadisticas{
  color: white;
  text-shadow: 0 0 10px  black;
}

/* ↓ Footer ↓ */

footer {
  height: 170px;
  border-top: 3px solid black;
  background-image: url("../imágenes/fondoBarra.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;

}

.aviso-contacto{
  display: flex;
  gap: 10px;    
}

.texto-usuario {

  margin-top: 15px;
  color: black;
  text-decoration: none;

}

.container-credentials-username a {
  text-decoration: none;
}

.titulo-encabezado {

  padding-left: 20px;
  margin-top: 15px;
  font-size: 30px;

}

.tablets-alumno {

  border: 1px solid black;
  width: 300px;
  height: 650px;
  margin-top: 20px;
  margin-bottom: 20px;

  overflow-y: scroll;
  overflow-x: hidden;




}

.tablets-alumno2 {
  width: 200px;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid black;
  margin: 15px auto;
  margin-top: 10px;


}



.container-credentials-username {

  width: 100px;
}



.img_usuario {


  border-radius: 10%;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 20px;




  background-image: url(../imágenes/perfil.webp);
  background-repeat: no-repeat;
  background-size: 40px;

}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;

}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;



}

.container-credentials-username:hover .submenu {
  display: block;
  opacity: 1;
  list-style-type: none;
  background-color: rgba(20, 20, 20, 0.9);
  padding: 20px;


  border-radius: 10px;

  text-align: center;

}

.usuario2 {

  position: absolute;
  text-align: center;
  right: 20px;

  font-size: 25px;
  width: 300px;
  height: 100px;
  top: 10px;







}


.container-credentials-username {

  position: absolute;
  margin-bottom: 20px;
  margin-left: 131px;
  border-bottom: 1px solid black;



}

.desplegable {

  color: white;

}




.crear-incidencia {


  border: 1px solid black;
  width: 550px;
  height: 650px;


  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;

  
  overflow-y: scroll;
  overflow-x: hidden;

}

.crear-incidencia2 {



  width: 320px;
  text-align: center;

  border-bottom: 2px solid black;
  margin: 15px auto;



}

.incidencias {

  border: 1px solid black;
  height: 88%;
  text-align: center;

}

.historial-incidencias {


  border: 1px solid black;
  width: 550px;
  height: 650px;


  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;

  
  overflow-y: scroll;
  overflow-x: hidden;

}

.historial-incidencias1 {



  width: 320px;
  text-align: center;

  border-bottom: 2px solid black;
  margin: 15px auto;





}

form {

  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}

form>input {

  width: 190px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 5px;
  padding-left: 5px;


}

#incidencia {

  padding-left: 5px;
  padding-top: 5px;

}

.botones {

  margin-bottom: 15px;

}

textarea{
  resize: none;
}

@media screen and (max-width: 1085px) {
main{

  gap: 0px;

}

}

@media screen and (max-width: 850px) {
  main {


    justify-content: space-around;
    gap: 0px;
    display: block;
    flex-direction: column;
    

  }

  .usuario2 {

    position: absolute;
    text-align: center;
    right: 20px;

    font-size: 25px;
    width: 300px;
    height: 100px;
    top: 10px;
  }

  .container-credentials-username {
    margin-top: 8px;
    right: 21%;
    position: absolute;
  }

  .img_usuario {


    border-radius: 10%;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 20px;
  
  
  
  
    background-image: url(../imágenes/perfil.webp);
    background-repeat: no-repeat;
    background-size: 40px;
  
  }

  .titulo-encabezado {
    padding-left: 15px;
    margin-top: 15px;
  }

  .tablets-alumno {
    border: 1px solid black;
    width: 240px;
    height: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2%;
    flex-basis: 50%;
    order: 1;
    font-size: 20px;
    
  }

  .crear-incidencia {
    border: 1px solid black;
    width: 520px;
    height: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 3%;
    flex-basis: 50%;
    order: 1;
    
  }

  #incidencia {
    padding-left: 5px;
    padding-top: 5px;
    height: 150px;
    margin-top: 10px;
  }

  .tablets-alumno2 {
    width: 200px;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid black;
    margin-left: 20px;
    margin-top: 10px;
  }

  .tablets-alumno {
    float: right;
  }

  .historial-incidencias {
    border: 1px solid black;
    width: 94%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 3%;
    order: 2;
    flex-basis: 100%;
  }









}

@media screen and (max-width: 812px) {

  main {


    justify-content: space-around;
    gap: 0px;

  }

  footer {
    background-size: 100% 100%;
    overflow: hidden;
  }

  .crear-incidencia {

    width: 60%;




  }

  .tablets-alumno {

    width: 35%;

  }


  .usuario2 {


    width: 100%;

  }

  .usuario2 {

    position: absolute;
    text-align: center;
    right: 20px;

    font-size: 25px;
    width: 300px;
    height: 100px;
    top: 10px;
  }

  .img_usuario {


    border-radius: 10%;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 20px;
  
  
  
  
    background-image: url(../imágenes/perfil.webp);
    background-repeat: no-repeat;
    background-size: 40px;
  
  }




  @media screen and (max-width: 587px) {

    main {


      justify-content: space-around;
      gap: 0px;
  
    }

    .img_usuario {
  
  
      border-radius: 10%;
      width: 40px;
      height: 40px;
      float: right;
      margin-top: 20px;
    
    
    
    
      background-image: url(../imágenes/perfil.webp);
      background-repeat: no-repeat;
      background-size: 40px;
    
    }

    .usuario2 {

      position: absolute;
      text-align: center;
     
      
      font-size: 25px;
      width: 150px;
      height: 100px;
      top: 10px;
    }
  
    


    .crear-incidencia {

      width: 60%;
      ;



    }

    .tablets-alumno {

      width: 35%;

    }


    .usuario2 {


      width: 100%;

    }

    header {

      width: 100%;



    }

    .tablets-alumno2 {

      font-size: 20px;
      width: 80%;

    }

    .crear-incidencia2 {
      font-size: 20px;
      width: 80%;

    }

    form>input {

      width: 80%;
    }

    form>.botones {

      width: 50%;

    }

    #incidencia {

      width: 80%;

    }


  }
}


@media screen and (max-width: 587px) {
  #miFormulario label {
      font-size: 80%;
  }

  .incidencia{

font-size: 80%;

  }
}