* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

/* ↑ Líneas esenciales ↑ */

/* ↓ Header ↓ */
header {    
    height: 100px;
    border-bottom: 3px solid black;
    background-image: url("../imágenes/fondoBarra.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.barra.navegacion{
    height: 100px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto.navegacion{
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

.contenedor-imagen-header{
    width: 165px;
}

.imagen{
    width: 100px;    
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px cadetblue;
}
.contenedor-botones{
    display: flex;
    gap: 5px;
}

.boton{
    width: 80px;
    height: 50px;    
    border: 2px solid sienna;
    font-weight: 500;    
    border-radius: 5px;
    box-shadow: 3px 3px black;    
}

.boton:hover{
    background-color: mediumaquamarine;
    transition: background-color 0.5s ease;
    background-color: sandybrown;
}

/* ↓ Main ↓ */

main {
    background: linear-gradient(150deg,  rgb(214, 139, 105) 15%, rgb(68, 54, 54) 85%);    
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;    
}

/* Inicio Sesión Alumno */

.inicio_alumno{
    background-image: url(../imágenes/fondoBarra.jpg);
    background-repeat: no-repeat;
    border-radius: 5%;
    width: 250px;
    height: 330px;
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.5);
}

.registro_alumno{
    text-align: center;
    border-radius: 3%;
    padding: 20px 0;
    font-weight: 700;
    font-size: 23px;
    border-bottom: 5px solid purple;
}

.boton-alumno{
    border: 2px solid purple;
    background: linear-gradient(150deg, rgb(171, 89, 179)30%, rgb(118, 35, 134)70%);
}

.borde-input-alumno{
    border: 2px solid purple;
}

/* ***** */

/* Inicio Sesión Profesorado */

.inicio_profesor{
    background-image: url(../imágenes/fondoBarra.jpg);
    background-repeat: no-repeat;
    border-radius: 5%;
    width: 250px;
    height: 330px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.registro_profesor{
    text-align: center;
    border-radius: 3%;
    padding: 20px 0;
    font-weight: 700;
    font-size: 23px;
    border-bottom: 5px solid lightskyblue;
}

.boton-profesor{
    border: 2px solid lightskyblue;
    background: linear-gradient(150deg, rgb(36, 131, 160)30%, rgb(72, 198, 207)70%);
}

.borde-input-profesor{
    border: 2px solid lightskyblue;
}

/* **** */

/* Inicio Sesión Dirección */

.inicio_director{
    background-image: url(../imágenes/fondoBarra.jpg);
    background-repeat: no-repeat;
    border-radius: 5%;
    width: 250px;
    height: 330px;
    box-shadow: 0 0 20px rgba(42, 138, 47, 0.5);
}

.registro_director{
    text-align: center;
    border-radius: 3%;
    padding: 20px 0;
    font-weight: 700;
    font-size: 23px;
    border-bottom: 5px solid green;
}

.boton-director{
    border: 2px solid green;
    background: linear-gradient(150deg, rgb(58, 189, 75)30%, rgb(35, 136, 52)70%);
}

.borde-input-director{
    border: 2px solid green;
}

/* ***** */

/* Inicio Sesión Administrador */

.inicio_admin{
    background-image: url(../imágenes/fondoBarra.jpg);
    background-repeat: no-repeat;
    border-radius: 5%;
    width: 250px;
    height: 330px;
    box-shadow: 0 0 20px rgba(201, 55, 55, 0.5);
}

.registro_admin{
    text-align: center;
    border-radius: 3%;
    padding: 20px 0;
    font-weight: 700;
    font-size: 23px;
    border-bottom: 5px solid red;
}
#btn{
    cursor: not-allowed;
}
.boton-admin{
    
    border: 2px solid red;
    background: linear-gradient(150deg, rgb(223, 34, 34)30%, rgb(163, 31, 31)70%);
}

.borde-input-admin{
    border: 2px solid red;
}

/* **** */

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 75%;

    
}


form>button{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

label{
    margin-bottom: 5px;

}
form>input{
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}

/* Footer */

footer {
    height: 170px;
    border-top: 3px solid black;
    background-image: url("../imágenes/fondoBarra.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.aviso-contacto{
    display: flex;
    gap: 10px;    
}

/* ↓ Media Queries ↓ */
@media screen and (max-width: 768px) {
   
    .contenedor-imagen-header{
        width: auto;
    }

    .imagen{
        width: 80px;
    }

    .contenedor-botones{
        flex-direction: column;
    }

    .boton{
        width: 60px;
        height: 35px;
    }

    main {
        background: linear-gradient(150deg,  rgb(214, 139, 105) 15%, rgb(68, 54, 54) 85%);
        height: 100%;
    }

    body{
        overflow: scroll;
    }

    .texto.navegacion{        
        font-size: 25px;
        transition: font-size 0.5s ease;
    }

    .tarjetas {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    footer{
        background-size: 100% 100%;
        overflow: hidden;        
    }

}

@media screen and (max-width: 380px) {
    .texto.navegacion{
        font-size: 15px;
        padding-top: 20px;
        transition-property: padding-top;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        text-align: center;
    }  
}


